/* Global CSS Starts Here*/
@import url('https://fonts.googleapis.com/css2?family=Yantramanav');
@import url('https://fonts.googleapis.com/css2?family=Fira Sans');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* rgb(29, 47, 64);
rgb(166, 88, 124);
rgb(125, 64, 92); */

:root {
    --primary-color: #1d2f40;
    --secondary-color: #a6587c;
    --third-color: #7D405C;
    --fourth-color: #141414;
    --fifth-color: #ffffff;
    --six-color: #757575;
    /*fonts*/
    --primary-font: Fira Sans;
    --secondary-font: Yantramanav;
}

.row {
    width: 1280px;
    margin: auto;
    padding: 6% 0;
}

.column {
    flex: auto;
}

.d-flex {
    display: flex;
}

.flex {
    display: flex;
}

p {
    font-family: var(--secondary-font);
    line-height: 2;
    font-size: 18px;
    margin: 0;
    padding: 0;
    color: var(--six-color);
}

para {
    color: var(--third-color);
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 22px;
    font-family: var(--secondary-font);
    line-height: 2;
    margin: 0;
    padding: 0;
}

para1 {
    color: var(--third-color);
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 15px;
    font-family: var(--secondary-font);
    line-height: 2;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: var(--primary-font);
    line-height: 1.5;
    font-size: 65px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    color: var(--fifth-color);
}

h2 {
    font-family: var(--primary-font);
    line-height: 1.3;
    font-size: 50px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    color: var(--primary-color);
}

h3 {
    font-family: var(--primary-font);
    line-height: 1.5;
    font-size: 23px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    color: var(--fifth-color);
}

h4 {
    font-family: var(--primary-font);
    line-height: 1.5;
    font-size: 22px;
    font-weight: 600;
    margin: 15px 0 10px 0;
    padding: 0;
    color: var(--fifth-color);
}

a {
    color: var(--fifth-color);
    text-decoration: none;
}

a:hover {
    color: var(--secondary-color);
}

button {
    font-family: var(--secondary-font);
    line-height: 2;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 11px 0;
    padding: 0;
    padding: 10px 25px;
    border-radius: 5px;
    border: none;
    color: var(--fifth-color);
}

.button1 {
    background-color: var(--secondary-color);
}

.button1:hover {
    background-color: var(--third-color);
    cursor: pointer;
}

.gap {
    gap: 20px;
}

/*Header starts here*/

.head {
    width: 1280px;
    margin: auto;
    padding: 10px 0;
    i {
        font-size: 20px;
        line-height: 1.5;
        margin-right: 10px;
        color: var(--secondary-color);
    }
    img {
        height: 75px;
        margin: 0;
        padding: 0;
    }
}

.head p {
    font-size: 20px;
    line-height: 1.5;
}

.socialicon i {
    color: var(--fifth-color) !important;
    background-color: var(--secondary-color);
    font-size: 15px !important;
    float: right;
    border-radius: 100%;
    padding: 6px 10px;
}

.socialicon i:hover {
    background-color: var(--third-color) !important;
    cursor: pointer;
}

/*Header ends here*/

/*Footer Starts Here*/

.footer {
    width: 1280px;
    margin: auto;
    padding: 6% 0;
}

.col {
    flex: 1;
}

.footer .column p {
    color: var(--fifth-color);
    line-height: 1.5;
}

.footer .column img {
    width: 275px;
}

.socialmedia i {
    color: var(--fifth-color) !important;
    background-color: var(--secondary-color);
    font-size: 18px !important;
    margin: 15px 10px 0 0;
    border-radius: 100%;
    padding: 10px 10px;
}

.socialicon i:hover {
    background-color: var(--third-color) !important;
    cursor: pointer;
}

.arrow i {
    color: var(--secondary-color);
    font-size: 18px;
    line-height: 1.2;
    margin-right: 15px;
}

.arrow .column {
    padding: 5px 0;
}

.foot {
    color: var(--fifth-color);
    text-align: center;
    padding: 15px;
    border-top: 2px solid var(--secondary-color);
    max-width: 1280px;
    margin: auto;
}

/*Footer Ends Here*/

/* navigation start here*/

nav ul li {
    color: var(--fifth-color);
    font-family: var(--secondary-font);
    font-size: 18px;
    list-style: none;
    padding: 0 20px;
    margin: 0 10px;
    line-height: 2;
    cursor: pointer;
}

nav ul {
    display: flex;
    justify-content: center;
}

/* navigation ends here*/


.info i {
    /* line-height: 1.5; */
    color: var(--secondary-color);
    font-size: 22px;
    margin-right: 10px;
}

.info {
    margin: 20px 0;
}

.center {
    text-align: center;
}

.blog .column {
    padding: 20px 30px;
}

.blog {
    width: 25%;
    border-radius: 10px;
    margin: 30px 0;
    background-color: var(--primary-color);

    p {
        color: var(--fifth-color) !important;
        line-height: 1.7;
        margin-right: 15px;
    }

    img {
        width: 100%;
        border-radius: 10px 10px 0 0;
        margin: 0;
        padding: 0;
    }

    .flex {
        padding: 10px 0;

        i {
            color: var(--fifth-color);
            line-height: 1.7;
            margin-right: 10px;
        }
    }
}

.faq {
    background-color: var(--primary-color);
    h2, p {
        color: var(--fifth-color);
    }
    .column {
        flex: 1;
    }
    .faqsec {
        padding: 20px;
        border: 1px solid var(--fifth-color);
        border-radius: 10px;
        margin: 15px 0;
    }
}

.bg1 {
    /* background-image: url(./images/BG-2.png); */
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(./images/BG-2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.pod {
    width: 25%;
    border-radius: 10px;
    margin: 30px 0;
    
    .column {
        background-color: var(--primary-color);
        padding: 30px;
        position: relative;
        z-index: 999 !important;
        border-radius: 10px;
        text-align: center;
        margin: -75px 25px 0 25px;
    }

    p {
        color: var(--fifth-color);
    }

    img {
        width: 100%;
        border-radius: 10px;
        margin: 0;
        padding: 0;
        transition: transform .2s;
    }

    img:hover {
        transform: scale(1.02);
    }

    .flex {
        padding: 10px 0;

        i {
            color: var(--fifth-color);
            line-height: 1.7;
            margin-right: 10px;
        }
    }
}

.step {
    margin: 15px 0;
    img {
        width: 100px;
        padding: 20px;
        border-radius: 10px;
        border: 1px solid var(--secondary-color);
        margin: auto;
    }

    h3 {
        color: var(--fourth-color);
    }
}

.steps .column {
    flex: 1;
}